## Final Project Submission

Please fill out:
* Student name: ANTONY SILA 
* Student pace: full time
* Scheduled project review date/time:
* Instructor name: MARYANN MWIKALI
* Blog post URL:

## Identifying Safest Aircraft for Commercial Expansion

# 1. Importing libraries

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('data/Aviation_Data.csv', encoding='latin-1', low_memory=False)

In [17]:
import os
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'CONTRIBUTING.md',
 'data',
 'example_dashboard.png',
 'index.ipynb',
 'LICENSE.md',
 'README.md',
 'student.ipynb']

In [4]:
os.listdir('data')

['Aviation_Data.csv']

# 2. Loading my dataset

In [15]:
import pandas as pd

df = pd.read_csv('data/Aviation_Data.csv', encoding='latin-1', low_memory=False)

df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

# 3. cleaning data

### 3.1 relevant columns

In [20]:

# Select only the columns necessary for safety risk analysis
columns_to_keep = [
    'Make', 'Model', 'Total.Fatal.Injuries', 
    'Total.Serious.Injuries', 'Aircraft.damage', 
    'Weather.Condition', 'Broad.phase.of.flight'
]
df = df[columns_to_keep]
df.head()

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Aircraft.damage,Weather.Condition,Broad.phase.of.flight
0,Stinson,108-3,2.0,0.0,Destroyed,UNK,Cruise
1,Piper,PA24-180,4.0,0.0,Destroyed,UNK,Unknown
2,Cessna,172M,3.0,NaN,Destroyed,IMC,Cruise
3,Rockwell,112,2.0,0.0,Destroyed,IMC,Cruise
4,Cessna,501,1.0,2.0,Destroyed,VMC,Approach

### 3.2 missing injury data

In [21]:
# Replace NaN values with 0 in injury columns 
df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries'].fillna(0)
df['Total.Serious.Injuries'] = df['Total.Serious.Injuries'].fillna(0)
print("Missing Fatality Values:", df['Total.Fatal.Injuries'].isna().sum())

Missing Fatality Values: 0

### 3.3 Aircraft names

In [22]:
# all 'Make' entries to uppercase and strip leading/trailing whitespace
df['Make'] = df['Make'].str.upper().str.strip()

# top 10 most frequent makes for verify the standardization
df['Make'].value_counts().head(10)

CESSNA      27149
PIPER       14870
BEECH        5372
BOEING       2745
BELL         2722
MOONEY       1334
ROBINSON     1230
GRUMMAN      1172
BELLANCA     1045
HUGHES        932
Name: Make, dtype: int64

### 3.4 Row with missing identifier

In [23]:
# Remove any rows where the 'Make' column is empty
df = df.dropna(subset=['Make'])

# final count of rows available to analyse
print(f"Data cleaning complete. Final rows: {df.shape[0]}")

Data cleaning complete. Final rows: 88826